<div>
    <div class="welcomeLogo">
        <img src="../../assets/welcome.jpeg">
    </div>
    <div class="welcomeText mat-typography">
        <h1> Welcome to the best tools store </h1>
    </div>
</div>
<div class="menu">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Products</mat-button-toggle>
        <mat-button-toggle value="bold">Contact</mat-button-toggle>
        <mat-button-toggle value="bold">SignUp</mat-button-toggle>
    </mat-button-toggle-group>
</div>
